body{
	/*https://www.colorzilla.com/gradient-editor/*/
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#232263+0,f1da36+100 */
	background: #232263; /* Old browsers */
	background: -moz-linear-gradient(left,  #232263 0%, #f1da36 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #232263 0%,#f1da36 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #232263 0%,#f1da36 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232263', endColorstr='#f1da36',GradientType=1 ); /* IE6-9 */

}