div{
	width: 400px;
	/*height: 200px;*/
	background: red;
	/*padding-top: 15px;
	padding-right: 10px;
	padding-bottom: 30px;
	padding-left: 20px;*/
	padding: 10px;
	border: solid 5px black;
	margin: 20px;
}