.texto{
	text-shadow: 2px 6px 10px red;
	/*
	El primer valor es la posicion horizontal de la sombra
	El segundo valor es la posicion vertical de la sombra
	El tercer valor es el tamaño de la sombra

	Podemos asignarle un valor para el color de la sombra
	*/

}
.caja{
	width: 200px;
	height: 200px;
	background: #ff9248;
	box-shadow: 15px 15px 20px blue;
}