th, td, table{
	border: 1px solid black;
	border-collapse: collapse;
}
table{
	width: 700px;
	text-align: center;
	/*vertical-align: bottom | middle | top*/
}
th, td{
	padding: 10px;
}
th{
	background: aqua;
}



tr:hover{
	background: blue;
}
tr:nth-child(even){
	background: #f2f2f2;
}